/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
  background-color:#1c1e2f;
  margin-left: 0%;
  
}
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

div#gris.mat-toolbar{
  
  background-color: #1c1e2f;
}






div#purple.mat-toolbar{
  
  /*background-color: #b66dff;*/
  background-color: #7030a0;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
  background: #2196F3;
}

.success-snackbar {
  background: #0cb937;
}

.danger-snackbar {
  background: #aa0707;
}
